signserver/modules/SignServer-ejb-ValidationWS/src/main/resources/META-INF/wsdl/ValidationWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b03-. -->
<definitions targetNamespace="gen.ws.validationservice.protocol.signserver.org" name="ValidationWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="gen.ws.validationservice.protocol.signserver.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
  
	<xs:schema version="1.0" targetNamespace="gen.ws.validationservice.protocol.signserver.org"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	  <xs:element name="IllegalRequestException" type="tns:IllegalRequestException"/>
	
	  <xs:element name="SignServerException" type="tns:SignServerException"/>
	
	  <xs:element name="getStatus" type="tns:getStatus"/>
	
	  <xs:element name="getStatusResponse" type="tns:getStatusResponse"/>
	
	  <xs:element name="isValid" type="tns:isValid"/>
	
	  <xs:element name="isValidResponse" type="tns:isValidResponse"/>
	
	  <xs:complexType name="getStatus">
	    <xs:sequence>
	      <xs:element name="serviceName" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="getStatusResponse">
	    <xs:sequence>
	      <xs:element name="return" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="IllegalRequestException">
	    <xs:sequence>
	      <xs:element name="message" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="isValid">
	    <xs:sequence>
	      <xs:element name="serviceName" type="xs:string" minOccurs="0"/>
	      <xs:element name="base64Cert" type="xs:string" minOccurs="0"/>
	      <xs:element name="certPurposes" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="isValidResponse">
	    <xs:sequence>
	      <xs:element name="return" type="tns:validationResponse" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="validationResponse">
	    <xs:sequence>
	      <xs:element name="revocationDate" type="xs:dateTime" minOccurs="0"/>
	      <xs:element name="revocationReason" type="xs:int"/>
	      <xs:element name="status" type="tns:status" minOccurs="0"/>
	      <xs:element name="statusMessage" type="xs:string" minOccurs="0"/>
	      <xs:element name="validCertificatePurposes" type="xs:string" minOccurs="0"/>
	      <xs:element name="validationDate" type="xs:dateTime" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="SignServerException">
	    <xs:sequence>
	      <xs:element name="message" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:simpleType name="status">
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="VALID"/>
	      <xs:enumeration value="REVOKED"/>
	      <xs:enumeration value="NOTYETVALID"/>
	      <xs:enumeration value="EXPIRED"/>
	      <xs:enumeration value="DONTVERIFY"/>
	      <xs:enumeration value="CAREVOKED"/>
	      <xs:enumeration value="CANOTYETVALID"/>
	      <xs:enumeration value="CAEXPIRED"/>
	      <xs:enumeration value="BADCERTPURPOSE"/>
	      <xs:enumeration value="ISSUERNOTSUPPORTED"/>
	    </xs:restriction>
	  </xs:simpleType>
	</xs:schema>
  </types>
  <message name="isValid">
    <part name="parameters" element="tns:isValid"/>
  </message>
  <message name="isValidResponse">
    <part name="parameters" element="tns:isValidResponse"/>
  </message>
  <message name="IllegalRequestException">
    <part name="fault" element="tns:IllegalRequestException"/>
  </message>
  <message name="SignServerException">
    <part name="fault" element="tns:SignServerException"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <portType name="ValidationWS">
    <operation name="isValid">
      <input message="tns:isValid"/>
      <output message="tns:isValidResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
    </operation>
  </portType>
  <binding name="ValidationWSPortBinding" type="tns:ValidationWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="isValid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ValidationWSService">
    <port name="ValidationWSPort" binding="tns:ValidationWSPortBinding">
      <soap:address location="https://REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

