trunk/signserver/modules/SignServer-Client-ClientWS/src/main/resources/META-INF/wsdl/localhost_8080/signserver/ClientWSService/ClientWS.wsdl

<definitions name='ClientWSService' targetNamespace='http://clientws.signserver.org/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://clientws.signserver.org/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://clientws.signserver.org/' version='1.0' xmlns:tns='http://clientws.signserver.org/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='InternalServerException' type='tns:InternalServerException'/>
   <xs:element name='RequestFailedException' type='tns:RequestFailedException'/>
   <xs:element name='processData' type='tns:processData'/>
   <xs:element name='processDataResponse' type='tns:processDataResponse'/>
   <xs:element name='processSOD' type='tns:processSOD'/>
   <xs:element name='processSODResponse' type='tns:processSODResponse'/>
   <xs:complexType name='processData'>
    <xs:sequence>
     <xs:element minOccurs='0' name='worker' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='metadata' type='tns:metadata'/>
     <xs:element minOccurs='0' name='data' type='xs:base64Binary'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='metadata'>
    <xs:simpleContent>
     <xs:extension base='xs:string'>
      <xs:attribute name='name' type='xs:string' use='required'/>
     </xs:extension>
    </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name='processDataResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:dataResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='dataResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='archiveId' type='xs:string'/>
     <xs:element minOccurs='0' name='data' type='xs:base64Binary'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='metadata' nillable='true' type='tns:metadata'/>
     <xs:element name='requestId' type='xs:int'/>
     <xs:element minOccurs='0' name='signerCertificate' type='xs:base64Binary'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='RequestFailedException'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='InternalServerException'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='processSOD'>
    <xs:sequence>
     <xs:element minOccurs='0' name='worker' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='metadata' type='tns:metadata'/>
     <xs:element minOccurs='0' name='sodData' type='tns:sodRequest'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='sodRequest'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' name='dataGroup' type='tns:dataGroup'/>
     <xs:element minOccurs='0' name='ldsVersion' type='xs:string'/>
     <xs:element minOccurs='0' name='unicodeVersion' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='dataGroup'>
    <xs:simpleContent>
     <xs:extension base='xs:base64Binary'>
      <xs:attribute name='id' type='xs:int' use='required'/>
     </xs:extension>
    </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name='processSODResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:sodResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='sodResponse'>
    <xs:complexContent>
     <xs:extension base='tns:dataResponse'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='ClientWS_processSODResponse'>
  <part element='tns:processSODResponse' name='processSODResponse'></part>
 </message>
 <message name='ClientWS_processData'>
  <part element='tns:processData' name='processData'></part>
 </message>
 <message name='InternalServerException'>
  <part element='tns:InternalServerException' name='InternalServerException'></part>
 </message>
 <message name='ClientWS_processDataResponse'>
  <part element='tns:processDataResponse' name='processDataResponse'></part>
 </message>
 <message name='ClientWS_processSOD'>
  <part element='tns:processSOD' name='processSOD'></part>
 </message>
 <message name='RequestFailedException'>
  <part element='tns:RequestFailedException' name='RequestFailedException'></part>
 </message>
 <portType name='ClientWS'>
  <operation name='processData' parameterOrder='processData'>
   <input message='tns:ClientWS_processData'></input>
   <output message='tns:ClientWS_processDataResponse'></output>
   <fault message='tns:InternalServerException' name='InternalServerException'></fault>
   <fault message='tns:RequestFailedException' name='RequestFailedException'></fault>
  </operation>
  <operation name='processSOD' parameterOrder='processSOD'>
   <input message='tns:ClientWS_processSOD'></input>
   <output message='tns:ClientWS_processSODResponse'></output>
   <fault message='tns:InternalServerException' name='InternalServerException'></fault>
   <fault message='tns:RequestFailedException' name='RequestFailedException'></fault>
  </operation>
 </portType>
 <binding name='ClientWSBinding' type='tns:ClientWS'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='processData'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='InternalServerException'>
    <soap:fault name='InternalServerException' use='literal'/>
   </fault>
   <fault name='RequestFailedException'>
    <soap:fault name='RequestFailedException' use='literal'/>
   </fault>
  </operation>
  <operation name='processSOD'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='InternalServerException'>
    <soap:fault name='InternalServerException' use='literal'/>
   </fault>
   <fault name='RequestFailedException'>
    <soap:fault name='RequestFailedException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='ClientWSService'>
  <port binding='tns:ClientWSBinding' name='ClientWSPort'>
   <soap:address location='http://localhost:8080/signserver/ClientWSService/ClientWS'/>
  </port>
 </service>
</definitions>