signserver/SignServer-AdminWS/src/conf/xml-resources/web-service-references/AdminWebServiceService/wsdl/AdminWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions targetNamespace="http://adminws.signserver.org/" name="AdminWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://adminws.signserver.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://adminws.signserver.org/" schemaLocation="AdminWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getWorkerId">
    <part name="parameters" element="tns:getWorkerId"/>
  </message>
  <message name="getWorkerIdResponse">
    <part name="parameters" element="tns:getWorkerIdResponse"/>
  </message>
  <message name="AdminNotAuthorizedException">
    <part name="fault" element="tns:AdminNotAuthorizedException"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <message name="InvalidWorkerIdException">
    <part name="fault" element="tns:InvalidWorkerIdException"/>
  </message>
  <message name="reloadConfiguration">
    <part name="parameters" element="tns:reloadConfiguration"/>
  </message>
  <message name="reloadConfigurationResponse">
    <part name="parameters" element="tns:reloadConfigurationResponse"/>
  </message>
  <message name="activateSigner">
    <part name="parameters" element="tns:activateSigner"/>
  </message>
  <message name="activateSignerResponse">
    <part name="parameters" element="tns:activateSignerResponse"/>
  </message>
  <message name="CryptoTokenAuthenticationFailureException">
    <part name="fault" element="tns:CryptoTokenAuthenticationFailureException"/>
  </message>
  <message name="CryptoTokenOfflineException">
    <part name="fault" element="tns:CryptoTokenOfflineException"/>
  </message>
  <message name="deactivateSigner">
    <part name="parameters" element="tns:deactivateSigner"/>
  </message>
  <message name="deactivateSignerResponse">
    <part name="parameters" element="tns:deactivateSignerResponse"/>
  </message>
  <message name="getCurrentWorkerConfig">
    <part name="parameters" element="tns:getCurrentWorkerConfig"/>
  </message>
  <message name="getCurrentWorkerConfigResponse">
    <part name="parameters" element="tns:getCurrentWorkerConfigResponse"/>
  </message>
  <message name="setWorkerProperty">
    <part name="parameters" element="tns:setWorkerProperty"/>
  </message>
  <message name="setWorkerPropertyResponse">
    <part name="parameters" element="tns:setWorkerPropertyResponse"/>
  </message>
  <message name="removeWorkerProperty">
    <part name="parameters" element="tns:removeWorkerProperty"/>
  </message>
  <message name="removeWorkerPropertyResponse">
    <part name="parameters" element="tns:removeWorkerPropertyResponse"/>
  </message>
  <message name="getAuthorizedClients">
    <part name="parameters" element="tns:getAuthorizedClients"/>
  </message>
  <message name="getAuthorizedClientsResponse">
    <part name="parameters" element="tns:getAuthorizedClientsResponse"/>
  </message>
  <message name="addAuthorizedClient">
    <part name="parameters" element="tns:addAuthorizedClient"/>
  </message>
  <message name="addAuthorizedClientResponse">
    <part name="parameters" element="tns:addAuthorizedClientResponse"/>
  </message>
  <message name="removeAuthorizedClient">
    <part name="parameters" element="tns:removeAuthorizedClient"/>
  </message>
  <message name="removeAuthorizedClientResponse">
    <part name="parameters" element="tns:removeAuthorizedClientResponse"/>
  </message>
  <message name="getPKCS10CertificateRequest">
    <part name="parameters" element="tns:getPKCS10CertificateRequest"/>
  </message>
  <message name="getPKCS10CertificateRequestResponse">
    <part name="parameters" element="tns:getPKCS10CertificateRequestResponse"/>
  </message>
  <message name="getPKCS10CertificateRequestForKey">
    <part name="parameters" element="tns:getPKCS10CertificateRequestForKey"/>
  </message>
  <message name="getPKCS10CertificateRequestForKeyResponse">
    <part name="parameters" element="tns:getPKCS10CertificateRequestForKeyResponse"/>
  </message>
  <message name="getSignerCertificate">
    <part name="parameters" element="tns:getSignerCertificate"/>
  </message>
  <message name="getSignerCertificateResponse">
    <part name="parameters" element="tns:getSignerCertificateResponse"/>
  </message>
  <message name="getSignerCertificateChain">
    <part name="parameters" element="tns:getSignerCertificateChain"/>
  </message>
  <message name="getSignerCertificateChainResponse">
    <part name="parameters" element="tns:getSignerCertificateChainResponse"/>
  </message>
  <message name="getSigningValidityNotAfter">
    <part name="parameters" element="tns:getSigningValidityNotAfter"/>
  </message>
  <message name="getSigningValidityNotAfterResponse">
    <part name="parameters" element="tns:getSigningValidityNotAfterResponse"/>
  </message>
  <message name="getSigningValidityNotBefore">
    <part name="parameters" element="tns:getSigningValidityNotBefore"/>
  </message>
  <message name="getSigningValidityNotBeforeResponse">
    <part name="parameters" element="tns:getSigningValidityNotBeforeResponse"/>
  </message>
  <message name="destroyKey">
    <part name="parameters" element="tns:destroyKey"/>
  </message>
  <message name="destroyKeyResponse">
    <part name="parameters" element="tns:destroyKeyResponse"/>
  </message>
  <message name="generateSignerKey">
    <part name="parameters" element="tns:generateSignerKey"/>
  </message>
  <message name="generateSignerKeyResponse">
    <part name="parameters" element="tns:generateSignerKeyResponse"/>
  </message>
  <message name="testKey">
    <part name="parameters" element="tns:testKey"/>
  </message>
  <message name="testKeyResponse">
    <part name="parameters" element="tns:testKeyResponse"/>
  </message>
  <message name="KeyStoreException">
    <part name="fault" element="tns:KeyStoreException"/>
  </message>
  <message name="uploadSignerCertificate">
    <part name="parameters" element="tns:uploadSignerCertificate"/>
  </message>
  <message name="uploadSignerCertificateResponse">
    <part name="parameters" element="tns:uploadSignerCertificateResponse"/>
  </message>
  <message name="IllegalRequestException">
    <part name="fault" element="tns:IllegalRequestException"/>
  </message>
  <message name="uploadSignerCertificateChain">
    <part name="parameters" element="tns:uploadSignerCertificateChain"/>
  </message>
  <message name="uploadSignerCertificateChainResponse">
    <part name="parameters" element="tns:uploadSignerCertificateChainResponse"/>
  </message>
  <message name="setGlobalProperty">
    <part name="parameters" element="tns:setGlobalProperty"/>
  </message>
  <message name="setGlobalPropertyResponse">
    <part name="parameters" element="tns:setGlobalPropertyResponse"/>
  </message>
  <message name="removeGlobalProperty">
    <part name="parameters" element="tns:removeGlobalProperty"/>
  </message>
  <message name="removeGlobalPropertyResponse">
    <part name="parameters" element="tns:removeGlobalPropertyResponse"/>
  </message>
  <message name="getGlobalConfiguration">
    <part name="parameters" element="tns:getGlobalConfiguration"/>
  </message>
  <message name="getGlobalConfigurationResponse">
    <part name="parameters" element="tns:getGlobalConfigurationResponse"/>
  </message>
  <message name="getWorkers">
    <part name="parameters" element="tns:getWorkers"/>
  </message>
  <message name="getWorkersResponse">
    <part name="parameters" element="tns:getWorkersResponse"/>
  </message>
  <message name="globalResync">
    <part name="parameters" element="tns:globalResync"/>
  </message>
  <message name="globalResyncResponse">
    <part name="parameters" element="tns:globalResyncResponse"/>
  </message>
  <message name="ResyncException">
    <part name="fault" element="tns:ResyncException"/>
  </message>
  <message name="globalReload">
    <part name="parameters" element="tns:globalReload"/>
  </message>
  <message name="globalReloadResponse">
    <part name="parameters" element="tns:globalReloadResponse"/>
  </message>
  <portType name="AdminWebService">
    <operation name="getWorkerId">
      <input message="tns:getWorkerId"/>
      <output message="tns:getWorkerIdResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="reloadConfiguration">
      <input message="tns:reloadConfiguration"/>
      <output message="tns:reloadConfigurationResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="activateSigner">
      <input message="tns:activateSigner"/>
      <output message="tns:activateSignerResponse"/>
      <fault message="tns:CryptoTokenAuthenticationFailureException" name="CryptoTokenAuthenticationFailureException"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="deactivateSigner">
      <input message="tns:deactivateSigner"/>
      <output message="tns:deactivateSignerResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getCurrentWorkerConfig">
      <input message="tns:getCurrentWorkerConfig"/>
      <output message="tns:getCurrentWorkerConfigResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="setWorkerProperty">
      <input message="tns:setWorkerProperty"/>
      <output message="tns:setWorkerPropertyResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="removeWorkerProperty">
      <input message="tns:removeWorkerProperty"/>
      <output message="tns:removeWorkerPropertyResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getAuthorizedClients">
      <input message="tns:getAuthorizedClients"/>
      <output message="tns:getAuthorizedClientsResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="addAuthorizedClient">
      <input message="tns:addAuthorizedClient"/>
      <output message="tns:addAuthorizedClientResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="removeAuthorizedClient">
      <input message="tns:removeAuthorizedClient"/>
      <output message="tns:removeAuthorizedClientResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getPKCS10CertificateRequest">
      <input message="tns:getPKCS10CertificateRequest"/>
      <output message="tns:getPKCS10CertificateRequestResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getPKCS10CertificateRequestForKey">
      <input message="tns:getPKCS10CertificateRequestForKey"/>
      <output message="tns:getPKCS10CertificateRequestForKeyResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getSignerCertificate">
      <input message="tns:getSignerCertificate"/>
      <output message="tns:getSignerCertificateResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getSignerCertificateChain">
      <input message="tns:getSignerCertificateChain"/>
      <output message="tns:getSignerCertificateChainResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getSigningValidityNotAfter">
      <input message="tns:getSigningValidityNotAfter"/>
      <output message="tns:getSigningValidityNotAfterResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getSigningValidityNotBefore">
      <input message="tns:getSigningValidityNotBefore"/>
      <output message="tns:getSigningValidityNotBeforeResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="destroyKey">
      <input message="tns:destroyKey"/>
      <output message="tns:destroyKeyResponse"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="generateSignerKey">
      <input message="tns:generateSignerKey"/>
      <output message="tns:generateSignerKeyResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="testKey">
      <input message="tns:testKey"/>
      <output message="tns:testKeyResponse"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:KeyStoreException" name="KeyStoreException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="uploadSignerCertificate">
      <input message="tns:uploadSignerCertificate"/>
      <output message="tns:uploadSignerCertificateResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="uploadSignerCertificateChain">
      <input message="tns:uploadSignerCertificateChain"/>
      <output message="tns:uploadSignerCertificateChainResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="setGlobalProperty">
      <input message="tns:setGlobalProperty"/>
      <output message="tns:setGlobalPropertyResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="removeGlobalProperty">
      <input message="tns:removeGlobalProperty"/>
      <output message="tns:removeGlobalPropertyResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getGlobalConfiguration">
      <input message="tns:getGlobalConfiguration"/>
      <output message="tns:getGlobalConfigurationResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="getWorkers">
      <input message="tns:getWorkers"/>
      <output message="tns:getWorkersResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="globalResync">
      <input message="tns:globalResync"/>
      <output message="tns:globalResyncResponse"/>
      <fault message="tns:ResyncException" name="ResyncException"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
    <operation name="globalReload">
      <input message="tns:globalReload"/>
      <output message="tns:globalReloadResponse"/>
      <fault message="tns:AdminNotAuthorizedException" name="AdminNotAuthorizedException"/>
    </operation>
  </portType>
  <binding name="AdminWebServicePortBinding" type="tns:AdminWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getWorkerId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="reloadConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="activateSigner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenAuthenticationFailureException">
        <soap:fault name="CryptoTokenAuthenticationFailureException" use="literal"/>
      </fault>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deactivateSigner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCurrentWorkerConfig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="setWorkerProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeWorkerProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAuthorizedClients">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="addAuthorizedClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAuthorizedClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPKCS10CertificateRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPKCS10CertificateRequestForKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSignerCertificate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSignerCertificateChain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSigningValidityNotAfter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSigningValidityNotBefore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="destroyKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSignerKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="testKey">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="KeyStoreException">
        <soap:fault name="KeyStoreException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="uploadSignerCertificate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="uploadSignerCertificateChain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="setGlobalProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeGlobalProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getGlobalConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWorkers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="globalResync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ResyncException">
        <soap:fault name="ResyncException" use="literal"/>
      </fault>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
    <operation name="globalReload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AdminNotAuthorizedException">
        <soap:fault name="AdminNotAuthorizedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AdminWebServiceService">
    <port name="AdminWebServicePort" binding="tns:AdminWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

