trunk/signserver/modules/SignServer-Test-System/src/main/resources/META-INF/wsdl/WSRAService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="gen.ws.wsra.module.signserver.org" name="WSRAService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="gen.ws.wsra.module.signserver.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="gen.ws.wsra.module.signserver.org" schemaLocation="WSRAService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <message name="IllegalRequestException">
    <part name="fault" element="tns:IllegalRequestException"/>
  </message>
  <message name="SignServerException">
    <part name="fault" element="tns:SignServerException"/>
  </message>
  <message name="AuthorizationDeniedException">
    <part name="fault" element="tns:AuthorizationDeniedException"/>
  </message>
  <message name="editUsers">
    <part name="parameters" element="tns:editUsers"/>
  </message>
  <message name="editUsersResponse">
    <part name="parameters" element="tns:editUsersResponse"/>
  </message>
  <message name="findUsersByAlias">
    <part name="parameters" element="tns:findUsersByAlias"/>
  </message>
  <message name="findUsersByAliasResponse">
    <part name="parameters" element="tns:findUsersByAliasResponse"/>
  </message>
  <message name="findUserByUsername">
    <part name="parameters" element="tns:findUserByUsername"/>
  </message>
  <message name="findUserByUsernameResponse">
    <part name="parameters" element="tns:findUserByUsernameResponse"/>
  </message>
  <message name="generateCertificateFromPKCS10">
    <part name="parameters" element="tns:generateCertificateFromPKCS10"/>
  </message>
  <message name="generateCertificateFromPKCS10Response">
    <part name="parameters" element="tns:generateCertificateFromPKCS10Response"/>
  </message>
  <message name="generateSoftToken">
    <part name="parameters" element="tns:generateSoftToken"/>
  </message>
  <message name="generateSoftTokenResponse">
    <part name="parameters" element="tns:generateSoftTokenResponse"/>
  </message>
  <message name="checkCertStatus">
    <part name="parameters" element="tns:checkCertStatus"/>
  </message>
  <message name="checkCertStatusResponse">
    <part name="parameters" element="tns:checkCertStatusResponse"/>
  </message>
  <message name="revokeCertificate">
    <part name="parameters" element="tns:revokeCertificate"/>
  </message>
  <message name="revokeCertificateResponse">
    <part name="parameters" element="tns:revokeCertificateResponse"/>
  </message>
  <message name="revokeToken">
    <part name="parameters" element="tns:revokeToken"/>
  </message>
  <message name="revokeTokenResponse">
    <part name="parameters" element="tns:revokeTokenResponse"/>
  </message>
  <message name="revokeUser">
    <part name="parameters" element="tns:revokeUser"/>
  </message>
  <message name="revokeUserResponse">
    <part name="parameters" element="tns:revokeUserResponse"/>
  </message>
  <message name="getTokenData">
    <part name="parameters" element="tns:getTokenData"/>
  </message>
  <message name="getTokenDataResponse">
    <part name="parameters" element="tns:getTokenDataResponse"/>
  </message>
  <message name="existsToken">
    <part name="parameters" element="tns:existsToken"/>
  </message>
  <message name="existsTokenResponse">
    <part name="parameters" element="tns:existsTokenResponse"/>
  </message>
  <message name="getCallerUserData">
    <part name="parameters" element="tns:getCallerUserData"/>
  </message>
  <message name="getCallerUserDataResponse">
    <part name="parameters" element="tns:getCallerUserDataResponse"/>
  </message>
  <message name="getCallerOrganizationData">
    <part name="parameters" element="tns:getCallerOrganizationData"/>
  </message>
  <message name="getCallerOrganizationDataResponse">
    <part name="parameters" element="tns:getCallerOrganizationDataResponse"/>
  </message>
  <message name="getCACertificateChain">
    <part name="parameters" element="tns:getCACertificateChain"/>
  </message>
  <message name="getCACertificateChainResponse">
    <part name="parameters" element="tns:getCACertificateChainResponse"/>
  </message>
  <portType name="WSRA">
    <operation name="listUsers">
      <input message="tns:listUsers"/>
      <output message="tns:listUsersResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="editUsers">
      <input message="tns:editUsers"/>
      <output message="tns:editUsersResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="findUsersByAlias">
      <input message="tns:findUsersByAlias"/>
      <output message="tns:findUsersByAliasResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="findUserByUsername">
      <input message="tns:findUserByUsername"/>
      <output message="tns:findUserByUsernameResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="generateCertificateFromPKCS10">
      <input message="tns:generateCertificateFromPKCS10"/>
      <output message="tns:generateCertificateFromPKCS10Response"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="generateSoftToken">
      <input message="tns:generateSoftToken"/>
      <output message="tns:generateSoftTokenResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="checkCertStatus">
      <input message="tns:checkCertStatus"/>
      <output message="tns:checkCertStatusResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="revokeCertificate">
      <input message="tns:revokeCertificate"/>
      <output message="tns:revokeCertificateResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="revokeToken">
      <input message="tns:revokeToken"/>
      <output message="tns:revokeTokenResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="revokeUser">
      <input message="tns:revokeUser"/>
      <output message="tns:revokeUserResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="getTokenData">
      <input message="tns:getTokenData"/>
      <output message="tns:getTokenDataResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="existsToken">
      <input message="tns:existsToken"/>
      <output message="tns:existsTokenResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="getCallerUserData">
      <input message="tns:getCallerUserData"/>
      <output message="tns:getCallerUserDataResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="getCallerOrganizationData">
      <input message="tns:getCallerOrganizationData"/>
      <output message="tns:getCallerOrganizationDataResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
    <operation name="getCACertificateChain">
      <input message="tns:getCACertificateChain"/>
      <output message="tns:getCACertificateChainResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
      <fault message="tns:AuthorizationDeniedException" name="AuthorizationDeniedException"/>
    </operation>
  </portType>
  <binding name="WSRAPortBinding" type="tns:WSRA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="editUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUsersByAlias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUserByUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateCertificateFromPKCS10">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSoftToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="checkCertStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="revokeCertificate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="revokeToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="revokeUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTokenData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="existsToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCallerUserData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCallerOrganizationData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCACertificateChain">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
      <fault name="AuthorizationDeniedException">
        <soap:fault name="AuthorizationDeniedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WSRAService">
    <port name="WSRAPort" binding="tns:WSRAPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

