modules/SignServer-Test-System/xml-resources/web-service-references/ValidationWSService/wsdl/ValidationWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="gen.ws.validationservice.protocol.signserver.org" name="ValidationWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="gen.ws.validationservice.protocol.signserver.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="gen.ws.validationservice.protocol.signserver.org" schemaLocation="ValidationWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="isValid">
    <part name="parameters" element="tns:isValid"/>
  </message>
  <message name="isValidResponse">
    <part name="parameters" element="tns:isValidResponse"/>
  </message>
  <message name="IllegalRequestException">
    <part name="fault" element="tns:IllegalRequestException"/>
  </message>
  <message name="SignServerException">
    <part name="fault" element="tns:SignServerException"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <portType name="ValidationWS">
    <operation name="isValid">
      <input message="tns:isValid"/>
      <output message="tns:isValidResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
    </operation>
  </portType>
  <binding name="ValidationWSPortBinding" type="tns:ValidationWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="isValid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ValidationWSService">
    <port name="ValidationWSPort" binding="tns:ValidationWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

