signserver/modules/SignServer-Client-CLI/src/main/resources/org/signserver/client/cli/ClientWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://clientws.signserver.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientWSService" targetNamespace="http://clientws.signserver.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://clientws.signserver.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://clientws.signserver.org/">
  <xs:element name="processData" type="tns:processData"/>
  <xs:element name="processDataResponse" type="tns:processDataResponse"/>
  <xs:element name="processSOD" type="tns:processSOD"/>
  <xs:element name="processSODResponse" type="tns:processSODResponse"/>
  <xs:complexType name="processSOD">
    <xs:sequence>
      <xs:element minOccurs="0" name="worker" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" type="tns:metadata"/>
      <xs:element minOccurs="0" name="sodData" type="tns:sodRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadata">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sodRequest">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="dataGroup" type="tns:dataGroup"/>
      <xs:element minOccurs="0" name="ldsVersion" type="xs:string"/>
      <xs:element minOccurs="0" name="unicodeVersion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataGroup">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="id" type="xs:int" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="processSODResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sodResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sodResponse">
    <xs:complexContent>
      <xs:extension base="tns:dataResponse">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="archiveId" type="xs:string"/>
      <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" nillable="true" type="tns:metadata"/>
      <xs:element name="requestId" type="xs:int"/>
      <xs:element minOccurs="0" name="signerCertificate" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processData">
    <xs:sequence>
      <xs:element minOccurs="0" name="worker" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" type="tns:metadata"/>
      <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFailedException" type="tns:RequestFailedException"/>
  <xs:complexType name="RequestFailedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternalServerException" type="tns:InternalServerException"/>
  <xs:complexType name="InternalServerException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="processSOD">
    <wsdl:part element="tns:processSOD" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processSODResponse">
    <wsdl:part element="tns:processSODResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processData">
    <wsdl:part element="tns:processData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestFailedException">
    <wsdl:part element="tns:RequestFailedException" name="RequestFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataResponse">
    <wsdl:part element="tns:processDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InternalServerException">
    <wsdl:part element="tns:InternalServerException" name="InternalServerException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientWS">
    <wsdl:operation name="processSOD">
      <wsdl:input message="tns:processSOD" name="processSOD">
    </wsdl:input>
      <wsdl:output message="tns:processSODResponse" name="processSODResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RequestFailedException" name="RequestFailedException">
    </wsdl:fault>
      <wsdl:fault message="tns:InternalServerException" name="InternalServerException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processData">
      <wsdl:input message="tns:processData" name="processData">
    </wsdl:input>
      <wsdl:output message="tns:processDataResponse" name="processDataResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RequestFailedException" name="RequestFailedException">
    </wsdl:fault>
      <wsdl:fault message="tns:InternalServerException" name="InternalServerException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientWSServiceSoapBinding" type="tns:ClientWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processSOD">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processSOD">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processSODResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequestFailedException">
        <soap:fault name="RequestFailedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalServerException">
        <soap:fault name="InternalServerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequestFailedException">
        <soap:fault name="RequestFailedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InternalServerException">
        <soap:fault name="InternalServerException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWSService">
    <wsdl:port binding="tns:ClientWSServiceSoapBinding" name="ClientWSPort">
      <soap:address location="https://localhost:8443/signserver/ClientWSService/ClientWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
