modules/SignServer-Test-SignServerWS/xml-resources/web-service-references/SignServerWSService/wsdl/SignServerWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="gen.ws.protocol.signserver.org" name="SignServerWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="gen.ws.protocol.signserver.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="gen.ws.protocol.signserver.org" schemaLocation="SignServerWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="process">
    <part name="parameters" element="tns:process"/>
  </message>
  <message name="processResponse">
    <part name="parameters" element="tns:processResponse"/>
  </message>
  <message name="InvalidWorkerIdException">
    <part name="fault" element="tns:InvalidWorkerIdException"/>
  </message>
  <message name="IllegalRequestException">
    <part name="fault" element="tns:IllegalRequestException"/>
  </message>
  <message name="CryptoTokenOfflineException">
    <part name="fault" element="tns:CryptoTokenOfflineException"/>
  </message>
  <message name="SignServerException">
    <part name="fault" element="tns:SignServerException"/>
  </message>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <portType name="SignServerWS">
    <operation name="process">
      <input message="tns:process"/>
      <output message="tns:processResponse"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
      <fault message="tns:IllegalRequestException" name="IllegalRequestException"/>
      <fault message="tns:CryptoTokenOfflineException" name="CryptoTokenOfflineException"/>
      <fault message="tns:SignServerException" name="SignServerException"/>
    </operation>
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
      <fault message="tns:InvalidWorkerIdException" name="InvalidWorkerIdException"/>
    </operation>
  </portType>
  <binding name="SignServerWSPortBinding" type="tns:SignServerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="process">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
      <fault name="IllegalRequestException">
        <soap:fault name="IllegalRequestException" use="literal"/>
      </fault>
      <fault name="CryptoTokenOfflineException">
        <soap:fault name="CryptoTokenOfflineException" use="literal"/>
      </fault>
      <fault name="SignServerException">
        <soap:fault name="SignServerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidWorkerIdException">
        <soap:fault name="InvalidWorkerIdException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SignServerWSService">
    <port name="SignServerWSPort" binding="tns:SignServerWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

